body {
  /* Configurações básicas para cobrir a tela inteira */
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 90vh;
  
  /* Configuração para o fundo escuro com gradiente */
  background: #121212; /* Cor de fallback */
  background: linear-gradient(
    135deg,
    #121212 25%,
    #1a1a1a 25%,
    #1a1a1a 50%,
    #121212 50%,
    #121212 75%,
    #1a1a1a 75%,
    #1a1a1a
  );
  background-size: 40px 40px;

  /* Animação de movimento */
  animation: move 4s linear infinite;

  /* Flexbox para centralizar o conteúdo */
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

/* Animação do fundo */
@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 40px;
  }
}

/* Estilos responsivos para garantir que cubra toda a tela */
body {
  width: 100%;
  height: 90%;
}

/* Adicional para garantir que a animação funcione corretamente em dispositivos móveis */
@media (max-width: 768px) {
  body {
    background-size: 30px 30px; /* Ajusta o tamanho do padrão em telas menores */
    animation: move 6s linear infinite; /* Pode aumentar o tempo para um movimento mais suave em dispositivos móveis */
  }
}

@media (max-width: 480px) {
  body {
    background-size: 20px 20px; /* Ainda menor para telas muito pequenas */
    animation: move 8s linear infinite; /* Animação mais lenta para evitar distrair em dispositivos muito pequenos */
  }
}
